@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Finlandica', sans-serif;
}
.head {
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    background-color: #161616;
    box-shadow: 0px 3px 10px #000;
    z-index: 1;
}
#hdh1 {
    color: rgb(80, 142, 200);
    font-weight: lighter;
    float: left;
    margin-left: 0.5em;
    margin-top: 0.4em;
    transition: all 0.3s ease-in-out;
}
#hdh1:hover {
    cursor: cell;
    color: rgb(141, 70, 141);
}
.body {
    width: 100%;
    height: 100%;
    margin-top: 4em;
    background: rgb(255, 255, 255);
    margin-right:auto;
}
/*profile picture*/
#mpic {
    width: 15em;
    height: auto;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
}
/*paragraph section*/
#abme {
    font-size: 1.8em;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 1em;
    color: rgb(0, 0, 0);
}
#abme::selection {
    background-color: aquamarine;
}
#rhome {
    width: 3.2em;
    height: 3.2em;
    float: right;
    opacity: 0.5;
    margin-top: 0.5em;
    margin-right: 0.5em;
    transition: all 0.3s ease-in-out;
}
#rhome:hover {
    filter: invert(90%);
}