@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
  height:100vh;
    background-color: #574bd1;
}
.wrapper{
    width: 80%;
    min-width: 590px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.container{
    width: 100%;
    padding: 30px 70px 80px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    transition: all 1s ease-in-out;
} 
.container:hover {
    box-shadow: 10px 30px 40px rgb(54, 54, 54);
    transform: translate3d(2px, -10px, 30px);
}
.container *{
    color: black;
    font-weight: 500;
}
h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 2px solid #85c5e8;
    border-radius: 20px;
  
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #6e6eb6;
   
 
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 80%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 85%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 40%;
    }
}
#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 70%;
    }
} 
.returnbtn {
    width: 4em;
    height: 4em;
    float: left;
    background-color: #574bd1;
}

#retrnbtn{
    font-size: xx-large;
    float: left;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}
#retrnbtn:hover{
    filter: drop-shadow(5px 5px 15px rgb(255, 255, 255));
    transform: rotate(360deg);
}