/*importing the font style from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}
/*media query for mobile*/
@media screen and (max-width: 600px) {
  #hdh1 {
    font-size: 1.5em;
  }
  #abme {
    font-size: 1.2em;
  }
  #mpic {
    width: 12em;
    height: auto;
    border-radius: 12px;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
  }
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 100vh;
}
/*navbar part starts here*/
.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 3px 5px 20px 3px rgb(39, 39, 39);
  background-color: #dddee7;
}
/*---- navbar ending part👆---*/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
}

.navbar .menu-items {
  display: flex;
  background-color: #2e2e2e;
}

.navbar .nav-container li {
  list-style: none;
  margin: 0 1em;
}

.navbar .nav-container a {
  text-decoration: none;
  color: rgb(242, 242, 242);
  font-weight: 500;
  font-size: 1.7rem;
  padding: 0.7em;
  transition: color 0.7s 0s;
}
.navbar .nav-container a:hover {
  color: rgb(232, 255, 101);
}
.nav-container {
  display: block;
  position: relative;
  height: 4em;
  margin-left: -0.7em;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  height: 28px;
  width: 35px;
  position: absolute;
  top: 1.3em;
  left: 28px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 70px;
  background: #161616;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.9s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.6s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.9s ease-in-out;
}

.navbar .menu-items {
  padding-top: 10em;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: all 0.7s ease-in-out;
  text-align: center;
  border-radius: 0 0 4px 0;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 3.5rem;
  font-weight: lighter;
}
/*effect for the logo part*/
.logo {
  position: fixed;
  top: 0.3em;
  right: 0.8em;
  font-size: 1rem;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}/*navbar part ends here*/

.typewrite{
  text-decoration: none;
  background: linear-gradient(45deg, rgb(4, 4, 4), rgb(0, 29, 37));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7em;
}
#type {
  margin-left: 0.2em;
  padding-top: 2em;
  margin-right: 0.4em;
}
.body {
  width: 100%;
  height: 100vh;
  margin-top: 4em;
  background: rgb(200, 255, 254);

}
#hicon {
  position: absolute;
  top: 0.4em;
  right: 0.1em;
  width: 2.4em;
  height:2.4em;
}
#hicon:hover {
  filter: drop-shadow(0 0 0.5em rgb(23, 23, 23));
  transition: all 1s ease-in-out;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1.4em;
  color: rgb(201, 201, 201);
  background-color: #2e2e2e;
  font-size: medium;
  text-align: center;
}